.app{

padding:40px;
text-align:center;
background:#f4f6f8;
min-height:100vh;

}


.filters{

margin:30px 0;

}


.filters button{

padding:10px 20px;
margin:10px;
cursor:pointer;
border:none;
border-radius:8px;

}


.books-container{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;

}


.book-card{

width:320px;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}


.book-card img{

width:100%;
height:320px;
object-fit:cover;
border-radius:10px;

}


.book-card h2{

margin:15px 0;

}


.book-card p{

margin-bottom:10px;

}


.book-card button{

margin-top:15px;
padding:10px 20px;
cursor:pointer;
border:none;
border-radius:8px;

}